<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Wall.ee | Turn any event into a story</title>
    <link rel="stylesheet" href="../public/style/master.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="inner_container">

        <h1>Wall.ee</h1>

        <div id="#new">
          <a href="#" onClick="alert('hey');">New Wall</a>
        </div>

      </div>
    </div>
  </body>
</html>
